<!-- <header> -->
<!-- Top nav bar (fixed) -->
  <nav>
    <div>
    <img src="/imgs/logo.png" alt="Lightbulb Logo">
    </div>
    <span>Smart To Do List</span>
    <!-- If user is logged in, displays logout button -->
    <% if(user !==undefined){ %>
      <form action="/logout" method="POST">
          <h5 style="width: 300px; margin: 1em" />Logged in as: <%= user["email"] %>
            </h5>
            <button type="submit">Logout</button>
        </div>
      </form>
    <div>
<!-- If user is not logged in, displays links to the register and login views -->
      <% } else{ %>
        <div>
          <p><b>Login Below</b></p>
        </div>
        <% } %>
    </div>
  </nav>
</header>

<!-- Displays header in index.ejs with -->
  <!-- <%- include('partials/_header') %> -->
