<div class="listView-container">
  <div id="error">Error</div>
  <form id="new-task" action="/tasks" method="POST">
    <div id="addTask">

      <div class="left-column">
        <p>I gotta do this thing:</p>
        <textarea name="description" id="task-text"></textarea>
      </div>

      <div class="right-column">
        <div>
          <p><label for="due_date" type="date">Due Date</label><input type="date" name="due_date" id="due_date" /></p>
          <p><label for="is_priority">High Priority</label><input type="checkbox" name="is_priority" id="is_priority" />
          </p>
        </div>
        <div>
          <button type="submit">&#43</button>
        </div>
      </div>
    </div>
  </form>


  <div class="list-header">
    <div class="left-column">
      <p>VIEW:</p>
      <i class="fa-solid fa-list fa-2xl isActive"></i>
      <i class="fa-solid fa-book fa-2xl"></i>
      <i class="fa-solid fa-desktop fa-2xl"></i>
      <i class="fa-solid fa-cart-shopping fa-2xl"></i>
      <i class="fa-solid fa-burger fa-2xl"></i>
      <i class="fa-regular fa-lightbulb fa-2xl"></i>
    </div>
    <div class="right-column">
      <button id="addTaskButton">Add Item &#43</button>
    </div>
  </div>
  <div id="list-container">
  </div>
  <div id = "test">
<form action="/tasks/:id" method="POST">
  <input type="checkbox" name="is_complete" id ="test-checkbox" class="checkbox"  />
  <p>Thing I already Did</p>
<i class="fa-regular fa-lightbulb fa-2xl"></i>
</form>
</div>
</div>