<div class="list-container">
  <div id="addItem">
  </div>
  <div class="list-header">
    <div class="left-column">
      <p>VIEW:</p>
      <img src="/imgs/logo.png" alt="Lightbulb Logo">
      <img src="/imgs/book.png" alt="Lightbulb Logo">
      <img src="/imgs/logo.png" alt="Lightbulb Logo">
      <img src="/imgs/logo.png" alt="Lightbulb Logo">
      <img src="/imgs/logo.png" alt="Lightbulb Logo">
      <img src="/imgs/logo.png" alt="Lightbulb Logo">
    </div>
    <div class="right-column">
      <form action="/addItem" method="POST">
        <button type="submit">Add Item &#43</button>
    </div>
    </form>
  </div>
</div>
<div class="list">
  <h1>LIST</h1>
</div>
</div>