<div id="error">Error</div>

<div class="listView-container">

  <div id="addTask">

    <div class="left-column">
      <p>I gotta do this thing:</p>
      <textarea name="text" id="item-text"></textarea>
    </div>

    <div class="right-column">
      <div>
        <label>Due Date</label>
        <label>High Priority</label>
      </div>

      <div>
        <p>dropdown menu</p>
        <% if("isChecked"==="isChecked" ){ %>
          <i class="fa-regular fa-square-check fa-2xl"></i>
          <% } else{ %>
            <i class="fa-regular fa-square fa-2xl"></i>
            <% } %>
      </div>
      <div>
        <form action="/tasks" method="POST">
          <button type="submit">&#43</button>
        </form>
      </div>



    </div>
  </div>


  <div class="list-header">
    <div class="left-column">
      <p>VIEW:</p>
      <i class="fa-solid fa-list fa-2xl isActive"></i>
      <i class="fa-solid fa-book fa-2xl"></i>
      <i class="fa-solid fa-desktop fa-2xl"></i>
      <i class="fa-solid fa-cart-shopping fa-2xl"></i>
      <i class="fa-solid fa-burger fa-2xl"></i>
      <i class="fa-regular fa-lightbulb fa-2xl"></i>
    </div>
    <div class="right-column">
      <button id="addTaskButton">Add Item &#43</button>
    </div>
  </div>
  <div id="list-container">
    <article>
      <div class="list-container">
        <div class="left-column">
          <% if("isChecked"==="isChecked" ){ %>
            <i class="fa-regular fa-square-check fa-2xl"></i>
            <% } else{ %>
              <i class="fa-regular fa-square fa-2xl"></i>
              <% } %>
                <i class="fa-solid fa-book fa-2xl"></i>
                <p>Eat at Omnom Yummy Eatz</p>
        </div>
        <div class="right-column">
          <div class="editIcons">
            <% if("error"==="error" ){ %>
              <i class="fa-solid fa-exclamation fa-2xl"></i>
              <% } %>
                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                <i class="fa-solid fa-trash-can fa-2xl"></i>
          </div>
          <div class="timestamp">
            <p>Added: October31, 2023 at 12:34 AM</p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="list-container">
        <div class="left-column">
          <% if("isChecked"==="isChecked" ){ %>
            <i class="fa-regular fa-square-check fa-2xl"></i>
            <% } else{ %>
              <i class="fa-regular fa-square fa-2xl"></i>
              <% } %>
                <i class="fa-solid fa-book fa-2xl"></i>
                <p>Eat at Omnom Yummy Eatz</p>
        </div>
        <div class="right-column">
          <div class="editIcons">
            <% if("error"==="error" ){ %>
              <i class="fa-solid fa-exclamation fa-2xl"></i>
              <% } %>
                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                <i class="fa-solid fa-trash-can fa-2xl"></i>
          </div>
          <div class="timestamp">
            <p>Added: October31, 2023 at 12:34 AM</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>