<!-- login form-->
<div class = "loginView">
<p class= "loginHeader" id ="signInHeader">Sign In</p>
<form id = "loginForm" action="/login" method="POST">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<p class = "loginHeader">New User</p>
<button>Sign Up</button>
</div>