// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

button {
  border: solid 1.5px white;
  color: white;
  background-color: #0899ff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #605dff;
  ;
}

//  @media screen and (min-width: 992px) {
//     nav {
//       background-color: #4056A1;
//     }
//  }