.listView-container {
  width: 90%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 130px;

  #addTask {
    border: solid 3px white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
    font-weight: bold;

    .left-column,
    .right-column {
      width: 100%;
      display: flex;
    }

    .right-column {
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;

      label {
        display: inline-block;
        min-width: 200px;
      }

      button {
        border-radius: 50%;
        width: 50px;
        font-size: 36px;
        padding: 0;
        font-weight: 100;
      }

      select {
        background-color: #73abfa;
        color: white;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
        width: 84px;
        height: 28px;
      }
    }

    .left-column {
      flex-direction: column;
      align-items: left;
      margin: 12px;
      min-width: 850px;

      textarea {
        resize: none;
        height: 4em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }

  }

  .list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    font-weight: bold;

    i {
      height: 50px;
      margin-left: 12px;
      display: flex;
      align-items: center;
    }

    .isActive {
      color: rgb(96, 93, 255);
    }


    .left-column,
    .right-column {
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .right-column {
      justify-content: right;

      button {
        margin: 0;
        padding: 0 3em;
      }
    }
  }
}

.list-container {
  border: solid 3px white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1em 0;
  font-weight: bold;


  i {
    height: 50px;
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  .isActive {
    color: rgb(96, 93, 255);
  }

  .left-column,
  .right-column {
    max-width: 325px;
    width: 100%;
    display: flex;
  }

  .right-column {
    justify-content: right;
    flex-direction: column;
  }

  .left-column {
    flex-direction: row;
    align-items: center;

    input[type=checkbox] {
      margin-left: 12px;
    }

  }

  .editIcons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 12px 12px 0px 0px;
  }

  .timestamp {
    display: flex;
    font-size: .75rem;
    justify-content: right;
    margin-right: 12px;
  }

  p {
    margin-left: 12px;
  }
}

.left-column i:hover,
.right-column .fa-trash-can:hover {
  cursor: pointer;
  color: rgb(96, 93, 255);
}
