//List view styling

//Style overall conatainer that holds three sections
.listView-container {
  width: 90%;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 130px;

  //Style add task section
  #addTask {
    border: solid 3px white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
    font-weight: bold;

    .left-column,
    .right-column {
      width: 100%;
      display: flex;
    }

    .right-column {
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;

      input[type=date] {
        background-color: transparent;
        color: white;
        border-radius: 5px;
        border: 2px solid white;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(100%);
      }

      input[type=date]:focus {
        outline: 2px solid #4f4cff;
      }

      label {
        display: inline-block;
        min-width: 200px;
      }

      button {
        border-radius: 50%;
        width: 50px;
        font-size: 36px;
        padding: 0;
        font-weight: 100;
      }

      select {
        background-color: #73abfa;
        color: white;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5px;
        width: 84px;
        height: 28px;
      }
    }

    .left-column {
      flex-direction: column;
      align-items: left;
      margin: 12px;

      textarea {
        resize: none;
        height: 4em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #7e7ee2;
      }

      textarea:focus {
        outline: 2px solid #4f4cff;
      }
    }

  }

  //Style list header section where filter selection icons are provided
  .list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;

    i {
      height: 50px;
      margin-left: 12px;
      display: flex;
      align-items: center;
    }

    //Create class that gets passed to different icons upon clicking
    .isActive {
      color: rgb(96, 93, 255);
    }


    .left-column,
    .right-column {
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .right-column {
      justify-content: right;

      button {
        margin: 0;
        padding: 0 3em;
      }
    }
  }
}

//Style list container section where tasks are rendered
.list-container {
  border: solid 3px white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1em 0;
  font-weight: bold;


  i {
    height: 50px;
    margin-left: 12px;
    display: flex;
    align-items: center;
  }

  .isActive {
    color: rgb(96, 93, 255);
  }

  .left-column,
  .right-column {
    max-width: 325px;
    width: 100%;
    display: flex;
  }

  .right-column {
    justify-content: right;
    flex-direction: column;
  }

  .left-column {
    flex-direction: row;
    align-items: center;

    input[type=checkbox] {
      margin-left: 12px;
    }

    form {
      display: flex;
      align-items: center;
    }
  }

  .editIcons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 12px 12px 0px 0px;
  }

  .timestamp {
    display: flex;
    font-size: .75rem;
    justify-content: right;
    margin-right: 12px;
  }

  p {
    margin-left: 12px;
  }
}

.left-column i:hover,
.right-column .fa-trash-can:hover {
  cursor: pointer;
  color: rgb(96, 93, 255);
}

input[type="checkbox"]:checked~p {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #dedede;
}

input[type="checkbox"]:checked~i {
  color: #dedede;
}

#list-container {

  .category-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      background: rgba(255, 255, 255, 1);
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 5px 5px;
      display: none;
      z-index: 1000;

      li {
        padding: 5px;
        color: #73abfa;
        cursor: pointer;


        .fa-lightbulb {
          margin-left: 15px;
        }

        .fa-book {
          margin-left: 12px;
        }

        .fa-desktop {
          margin: 0px 5px 0px 10px;
        }

        .fa-cart-shopping {
          margin: 0px 5px 0px 6px;
        }

        .selected-category {
          display: flex;
          align-items: center;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

// Responsive design section

//Remove text area min-width and left-column min width below 1320px screen width
@media only screen and (max-width: 1320px) {
  .listView-container {
    .right-column {
      label {
        min-width: 0;
      }
    }

    .left-column {
      min-width: 0;
    }
  }
}

//Change calender and priority checkbox inputs to display below labels below 1100px screen width
@media only screen and (max-width: 1100px) {
  .listView-container {
    .right-column {
      p {
        display: flex;
        flex-direction: column;
      }

      input {
        margin-top: 12px;
      }
    }
  }
}

//Stack container elements in a column below 900px
@media only screen and (max-width: 900px) {
  .listView-container {
    #addTask {
      flex-direction: column;

      .left-column {
        width: auto;
      }
    }
  }
}

//Place add item button bellow filter icons on small screens
@media only screen and (max-width: 650px) {
  .listView-container {
    .list-header {
      flex-direction: column;

      .right-column {
        justify-content: center;
      }
    }
  }
}