body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #73abfa;
  font-family: 'Bungee', sans-serif;

  input[type=checkbox] {
    line-height: normal;
    width: 20px;
    height: 20px;
  }
}

@import "navbar";
@import "login";
@import "list";